@import "default_style";

$limit-header-bg-color: #53575d;

$limit-header-font-color: #ced4da;
$limit-header-font-active-color: white;

$limit-input-placeholder-color: #9b9b9b;

$limit-gray-text: #6b7177;
$limit-title-color: #495057;

$limit-purple-text: #6248ff;

$limit-detail-title-color: #343a40;

$limit-gray-bg-color: #f8f9fa;

$balance-button-active:  linear-gradient(45deg, #2853FF 0%, #933EFE 100%);

$balance-button:1px solid #933efe;

$balance-white:#fff;
