@import "app";
@import "var";

li {
  list-style: none;
}

.bg-color {
  background-color: #f2f3f5;
  .ip-research {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.2rem;

    .type-of {
      width: 100%;
      font-size: 0.14rem;
      font-weight: normal;
      text-align: left;
      color: #495057;

      .type-list {
        border-bottom: solid 1px #ddd;
        line-height: 0.52rem;
        width: 11.4rem;
        margin: auto;

        .type-name {
          float: left;
          //width: 1.5rem;
          //padding-left: 0.7rem;
          text-align: left;
          background: none;
          position: relative;
          font-weight: bold;
          color: #2f3943;
        }

        .type-ul {
          display: flex;
          margin-bottom: 0;

          li {
            padding: 0 0.2rem;
            color: #7d8287;
          }

          li:hover,.active {
            cursor: pointer;
            color: #8954be;
          }
        }
      }

      .type-list-last {
        line-height: 0.52rem;

        .type-name {
          width: 11.4rem;
          background: none;
          font-weight: bold;
          color: #2f3943;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .case-list-container{
      background-color: #f2f3f5;
      .case-list {
       width: 11.4rem;
        margin: auto;
        //padding-left: 0.72rem;
        padding-top: 0.368rem;
        display: flex;
        //justify-content: space-between;
        flex-wrap: wrap;

        .case-introduce {
          width: 3.6rem;
          position: relative;
          display: inline-block;
          margin: 0 0.1rem 0.3rem;
          .case-top {
            width: 3.6rem;
            height: 2.4rem;
            display: inline-block;
            background: #e5e5e5;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .case-bottom {
            width: 3.6rem;
            background-color: #fff;

            .case-img {
              width: 0.6rem;
              height: 0.8rem;

              img {
                width: 100%;
                height: 100%;
                margin: 0.2rem 0 0.2rem 0.16rem;
              }
            }

            .case-word {
              height: 1rem;

              .title {
                font-size: 0.16rem;
                font-weight: 500;
                width: 2.5rem;
                height: 0.44rem;
                color: #343a40;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 0.896rem;
                margin-top: -0.6rem;
              }
              .title:hover{
                color: #8a54be;
              }

              .bottom-title {
                margin-left: 0.896rem;
                margin-top: 0.17rem;
                height: 0.2rem;
                line-height: 0.2rem;

                .count {
                  color: #343A40;
                  font-size: 0.14rem;
                }
                .active:before{
                  color: #FB3D3D;
                }
                .icon-ic_like:before{
                  margin: 0 0.04rem 0 0;
                  font-size: 0.16rem;
                }

                .span-one {
                  font-size: 0.14rem;
                  color: #6b7177;
                  margin-right: 0.1rem;
                  margin-left: 0.88rem;
                }

                .span-two {
                  font-size: 0.14rem;
                  color: #adb5bd;
                  margin-left: 0.08rem;
                }
              }
            }
          }
        }

        .case-introduce:hover {
          cursor: pointer;
          box-shadow: 0 2px 0.1rem 0 #adb5bd;
          animation-name: anmitop;
          animation-duration: 0.3s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }

        @keyframes anmitop {
          from {
            top: 0;
          }
          to {
            top: -0.1rem;
          }
        }
      }
      .loading-more{
        width: 11.4rem;
        height: 0.6rem;
        line-height: 0.6rem;
        background: #fff;
        text-align: center;
        font-size: 0.16rem;
        color: #6b7177;
        cursor: pointer;
        margin: 0.19rem auto 0.8rem;
      }
    }

  }
}



